# This port will be mapped in compose file. Default one is 4242
PORT="YOUR_PORT"

# Database settings (for docker-compose)
PGDATABASE="YOUR_PGDATABASE"
PGUSER="YOUR_PGUSER"
PGPASSWORD="YOUR_PGPASSWORD"

# postgresql://<username>:<password>@<host>:<port>/<dbname>?schema=public
DATABASE_URL="YOUR_DATABASE_URL"

# Set this string to any one
JWT_SECRET="YOUR_JWT_SECRET"

# Hostname of your frontend app
APP_HOST="YOUR_APP_HOST"